

.section{
    width: 100%;
    height: 150% px;
    background-color:chartreuse ;
}

.center{
    width: 80%;
    height: 150% px;
    background-color:blue ;
    margin: 0 auto;
}

.left{
    width: 30%;
    height: 150px;
    background-color: violet;
    float: left;
}
