

.section{
    width: 100%;
    height: 50px;
}

.center{
    width: 95%;
    height: 50px;
    margin: 0px auto;
}

.nicepage{
    width: 15%;
    height: 50px;
    float: left;
}

.nice{
    font-size: 20px;
    margin-top: 10px;
}

.nice-section{
    width: 85%;
    height: 40px;
    margin-top: 15px;
    float: left
}

.download{
    width: 9%;
    height: 30px;
    float: left;
}
.features{
    width: 9%;
    height: 30px;
    float: left;
}
.templates{
    width: 9%;
    height: 30px;
    float: left;
}
.web{
    width: 9%;
    height: 30px;
    float: left;
}
.pricing{
    width: 9%;
    height: 30px;
    float: left;
}
.forums{
    width: 9%;
    height: 30px;
    float: left;
}
.bolg{
    width: 9%;
    height: 30px;
    float: left;
}
.help{
    width: 9%;
    height: 30px;
    float: left;
}
.register{
    width: 10%;
    height: 30px;
    float: right;
}
.sign{
    width: 10%;
    height: 30px;
    float: right;
}

.web-section{
    width: 100%;
    height: 600px;
    background-color:darkgrey;
}
.web-center{
    width: 85%;
    height: 600px;
    margin: 0px auto;
}
.relative{
    position: relative;
    width: 50%;
    height: 550px;
    background-color: dodgerblue;
    top: 50px;
    border-radius: 8px;
}
.web-absolute{
    position: absolute;
    width: 150%;
    height: 400px;
    background-color: midnightblue;
    left: 50px;
    top: 75px;
}
.stunning{
    width: 80%;
    color: white;
     margin: 10px auto;
}
.haeding{
    width: 80%;
    height: 150px;
    font-size: 30px;
}
.download-now{
    position: absolute;
    width: 40%;
    height: 50px;
    color: white;
    border-color: red;
    background-color: red;
    left: 200px;
    bottom: 20px;
    border-radius: 10px;    
}
.absolute{
    position: absolute;
    width: 30%;
    height: 200px;
    background-color: rgb(0, 153, 255);
    top: -75px;
    right: -200px;
    border-radius: 20px;
}
.web-design{
    width: 100%;
    height: 25px;
    text-align: center;
    color: white;
}
.number{
    width: 100%;
    height: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    text-align: center;
    color: white;
}

.download-section{
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.download-center{
    width: 90%;
    height: 300px;
    margin: 0px auto;
}

.download-app{
    width: 240px;
    height: 200px;
    float: left;
}
.app-center{
    width: 90%;
    height: 180px;
    border-radius: 10px;    
    background-color: chocolate;
    margin: 0px auto;
}
.d-windows{
    width: 100%;
    height: 35px;
}
.heading-1{
    width: 100%;
    height: 100px;
    text-align: center;
}
.app-center:hover{
    background-color: rgb(255, 0, 119);
}

.download-os{
    width: 240px;
    height: 200px;
    float: left;  
}
.os-center{
    width: 90%;
    height: 180px;
    border-radius: 10px;
    background-color: rgb(141, 153, 142);
    margin: 0px auto;
}
.os-app{
    width: 100%;
    height: 35px;
}
.heading-2{
    width: 100%;
    height: 100px;
    text-align: center;
}
.os-center:hover{
    background-color: rgb(158, 145, 26);
}

.word{
    width: 240px;
    height: 200px;
    float: left;  
}
.word-center{
    width: 90%;
    height: 180px;
    border-radius: 10px;
    background-color: rgb(210, 30, 30);
    margin: 0px auto;
}
.wordpress{
    width: 100%;
    height: 35px;
}
.heading-3{
    width: 100%;
    height: 100px;
    text-align: center;
}
.word-center:hover{
    background-color: rgb(0, 255, 21);
}

.joomla{
    width: 240px;
    height: 200px;
    float: left;  
}
.joomla-center{
    width: 90%;
    height: 180px;
    border-radius: 10px;
    background-color: rgb(210, 30, 165);
    margin: 0px auto;
}
.d-joomla{
    width: 100%;
    height: 35px;
}
.heading-4{
    width: 100%;
    height: 100px;
    text-align: center;
}
.joomla-center:hover{
    background-color: rgb(0, 204, 255);
}
.start{
    width: 240px;
    height: 200px;
    float: left;  
}
.start-center{
    width: 90%;
    height: 180px;
    border-radius: 10px;
    background-color: rgb(30, 183, 210);
    margin: 0px auto;
}
.start-nicepage{
    width: 100%;
    height: 35px;
}
.heading-5{
    width: 100%;
    height: 100px;
    text-align: center;
}    
.start-center:hover{
    background-color: rgb(30, 255, 0);
}


.design-section{
    width: 100%;
    height: 700px;
    background-color: cornflowerblue;
}
.design-center{
    width: 90%;
    height: 700px;
    margin: 0px auto;
    position: relative;
}

.design-relative{
    position: absolute;
    width: 35%;
    height: 450px;
    top: 150px;
    background-image: url('../images/img-1.jpg');
}
.design-absolute-1{
    position:absolute;
    width: 27%;
    height: 350px;
    background-image: url('../images/img-2.jpg');
    top: 200px;
    left: 400px;
} 
.design-absolute-2{
    position: absolute;
    width: 29%;
    height: 160px;
    background-image: url('../images/arrow-img.png');
    top: 90px;
    left: 460px;
}  

.themes{
    position: absolute;
    width: 34%;
    height: 400px;
    top: 200px;
    right:-25px
} 
.row-1{
    width: 100%;
    height: 100px;
    color: white;
    font-size: 20px;
}
.row-2{
    width: 100%;
    height: 90px;
    color: white;
    font-size: 22px;
}
.discover-bu{
    width: 70%;
    height: 40px;
    color: white;
    background-color: red;
    border-color: red;
    border-radius: 3px;
}