

p {
  background-color: lightgreen;
  padding: 10px;
}

span {
  background-color: blue;
  color: white;
  padding: 10px;
}

p.ex1 {display: none;}
p.ex2 {display: inline;}
p.ex3 {display: block;}
p.ex4 {display: inline-block;}
p.ex5 {display: flex;}
p.ex6 {display: grid;}

#overflowTest {
  background: #04AA6D;
  color: white;
  padding: 15px;
  width: 90%;
  height: 100px;
  overflow: scroll;
  border: 1px solid #ccc;
}