

.section{
    width: 100%;
    height: 150 px;
    background-color: crimson;
}

.center{
    width: 80%;
    height: 150px;
    background-color: yellowgreen;
    margin: 0 auto;
}

.left{
    width: 30%;
    height: 150px;
    background-color: violet;
    float: left;
}

.right{
    width: 48%;
    height: 150px;
    background-color: brown;
    float: right;
}

.row{
    width: 93%;
    height: 72px;
    background-color: chartreuse;
    margin: 2px auto;
}

.col{
    width: 32%;
    height: 73px;
    float: left;
    background-color: crimson;
    margin-left: 2px;
}
