

.section{
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
}
.center{
    width: 90%;
    height: 70px;
    margin: 0 auto;
}   
 .name{
    width: 25%;
    float: left;
    font-size:30px;
    text-align: center;
    margin-top: 25px;
    }
.home{
    width: 9%;
    float: left;
    margin: 25px auto;
}
.about{
    width: 9%; 
    float: left;
    margin: 25px auto;
}
.services{
    width: 9%;
    float: left;
    margin: 25px auto;
}
.portfolio{
    width: 9%;
    float: left;
    margin: 25px auto;
}
.bolg{
    width: 9%;
    float: left;
    margin: 25px auto;
}
.message{
    width:9%;
    float:left;
    margin: 25px auto;
}
.contact{
    width: 15%;
    height: 40px;
    float:right;
    color:white ;
    background-color:red;
    margin: 15px auto;
    border-radius: 50px;
}
.file{
    width: 100%;
}

.wellcome{
    width: 100%;
    height: 800px;
    background-image: url('../images/baner-dec-left.png');
    background-repeat: no-repeat;
}
.baner-dec-right{
    width: 7%;
    height: 300px;
    background-image: url('../images/baner-dec-right.png');
    background-repeat: no-repeat;
    float: right;
}
.we{
    width: 95%;
    height: 800px;
    margin: 0px auto;
}
.make{
    width: 100%;
    color: red;
    float: left;
    font-size: 19px;
    margin-top: 30px;
}
.digital{
    font-size:50px;
    float: left;
    font-weight:bolder;
    margin-top: 30px;
}
.mark{
    float: left;
}
.wed{
    width:100%;
    height: 50px;
    background-color:rgb(3, 164, 237);
    float: left;
    border-radius: 25px;
}
.your{
    float: left;
    color: aliceblue;
    margin: 13px auto;
}
.site{
    width: 30%;
    height: 30px;
    float: right;
    margin: 10px auto;
    color:red;
    background-color: white;
    border-radius: 50px;
}
.image-1{
    width: 100%;
    height: 600px;
}
.data-analysis{
    width: 100%;
    height: 600px;
    background-image: url('../images/about-bg.png');
}
.data-center{
    width: 80%;
    height: 600px;
    margin: 0px auto;
}
.data-rightside{
    width: 65%;
    height: 500px;
    float:right;
    margin-top: 90px;
}
.section-1{
    width: 50%;
    height: 200px;
    float: left;
    color: white;
}
.service-icon-01{
    width: 30%;
    height: 200px;
    float: left;
}
.img-1{
    width: 100%;
    height: 150px;
    background-image: url('../images/service-icon-01.png');
    background-repeat: no-repeat;
    margin-top: 50px;
}
.data{
    font-size: 150%;
     float: none;
     margin-top: 50px;
}
.section-2{
    width: 50%;
    height: 200px;
    float: right;
    color: white;
}
.service-icon-02{
    width: 30%;
    height: 200px;
    float: left;
}
.bg-img-02{
    width: 100%;
    height: 150px;
    float: left;
    background-image: url('../images/service-icon-02.png');
    background-repeat: no-repeat;
    margin-top: 50px;
}
.rep{
    font-size: 150%;
    float:left;
    margin-top: 50px;    
}
.reporting{
    float: left;
}
.section-3{
    width: 50%;
    height: 250px;
    float: left;
    color: white;
    }
.service-icon-03{
    width: 30%;
    height: 200px;
    float: left;
    background-image: url('../images/service-icon-03.png');
    background-repeat: no-repeat;
}    
.analy{
    font-size: 150%;
}
.section-4{
    width: 50%;
    height: 200px;
    float: right;
    color: white;
}
.service-icon-04{
    width: 25%;
    height: 200px;
    float: left;
    background-image: url('../images/service-icon-04.png');
    background-repeat: no-repeat;
}
.seo{
    width: 75%;
    font-size: 150%;
    float: right;
}
.suggestions{
    width: 75%;
    float: left;
}
.services-file{
    width: 100%;
    height: 500px;

}
.services-center{
    width: 80%;
    height: 600px;
    margin: 0px auto;
}
.grow{
    width: 40%;
    height: 300px;
    float: right;
}
.service{
    font-size: xx-large;
    margin: 10px auto;
}
.space{
    font-size:110%;
    margin-top: 30px;
    margin: 10px auto; 
}
.banner-left{
    width: 35%;
    height: 400px;
    float: left;
    margin-top: 100px;
}
.banner-right{ 
    width: 60%;
    height: 600px;     
    float: right;
    margin-top: 100px;
}
.backgound-image{
    width: 30%;
    height: 400px;
    float:left;
    background-image: url('../images/about-left-image.png');
    background-repeat: no-repeat;
    margin-top: 100px;
}
.services-left-img{
    width: 50%;
    float: left;
}
.website-analysis{
    width: 100%;
    height: 250px;
}
.row-1{
    width: 100%;
    height: 100px;
    font-size: xx-small;
}
.col{
    width: 84%;
    height: 5px;
    background-color: red;
}
.row-1{
    width: 100%;
    height: 100px;
    font-size: xx-small;
}
.row-2{
    width: 100%;
    height: 100px;
    font-size: xx-small;
}
.row-3{
    width: 100%;
    height: 100px;
    font-size: xx-small;
}

.Offers-section{
    width: 100%;
    height: 200px;
}
.offers-center{
    width: 80%;
    height: 200px;
    margin: 0px auto;
}
.we-provide{
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 25px;
    margin: 0px auto;
}
.provide-section{
    width: 100%;
    height: 300px;
}
.provide-center{
    width: 80%;
    height: 300px;
    margin: 0px auto;
}
.provide-col-1{
    width: 25%;
    height: 200px;
    float: left;
}
.provide-col-2{
    width: 25%;
    height: 200px;
    float: left;
}
.provide-col-3{
    width: 25%;
    height: 200px;
    float: left;
}
.provide-col-4{
    width: 25%;
    height: 200px;
    float: right;
}

.news-section{
    width: 100%;
    height: 900px;
}
.news-center{
    width: 80%;
    height: 900px;
    margin: 0px auto;
}
.news-left{
    width: 50%;
    height: 600px;
    float: left;
}
.news-heading{
    width: 100%;
    height: 230px;
    margin-top: 50px;
}
.left-big-blog-thumb{
    width: 100%;
    height: 500px;
    background-image: url("../images/big-blog-thumb.jpg");
    border-radius: 25px;
}
.news-right{
    width: 47%;
    height: 950px;
    float: right;
}
.right-blog-dec-image{
    width: 70%;
    height: 230px;
    background-image: url("../images/blog-dec.png");
    background-repeat: no-repeat;
    float: right;
}
.backlinks{
    width: 100%;
    height: 150px;
    margin-top: 20px;
}
.right-blog-thumb-01{
    width: 100%;
    height: 220px;
    background: url("../images/blog-thumb-01.jpg");
    border-radius: 25px;
}
.content-ideas{
    width: 100%;
    height: 150px;
    margin-top: 80px;
}
.right-blog-thumb-02{
    width: 100%;
    height: 220px;
    background: url("../images/blog-thumb-01.jpg");
    border-radius: 25px;
    margin-top: 25px;
}
.seo-tips{
    width: 100%;
    height: 150px;
    margin-top: 80px;
}
.right-blog-thumb-03{
    width: 100%;
    height: 220px;
    background: url("../images/blog-thumb-01.jpg");
    border-radius: 25px;
    margin-top: 25px;
    background-repeat: no-repeat;
}
.right-blog{
    width: 50%;
    height: 930px;
    float: right;
}
.news-leftside{
    width: 50%;
    height: 700px;
    float: left;
}


@media screen and (max-width:800px) {
    .wellcome{
        width: 100%;
        height: 1000px;
    }
    .baner-dec-right{
        width: 14%;
    }
    .we{
        width: 90%;
        height: 900px;
        margin: 0px auto;

    }
    .banner-left{
        width: 100%;
        height: 300px;
        float: none;
        margin-top: 0px;
    }
    .make{
        width: 100%;
        height: 50px;
        float: none;
        margin: 0px auto;
        text-align: center;
    }
    .digital{
        width: 100%;
        height: 180px;
        float: none;
        text-align: center;
    }
    .mark{
        width: 100%;
        height: 75px;
        float: none;
        text-align: center;
    }
    .wed{
        width: 80%;
        margin: 0px auto;
        float: none;
    }
    .banner-right{
        float: none;
    }
}

