

.section{
    width: 100%;
    height: 500px;
    background-color:red;
}
.center{
    width: 90%;
    height: 500px;
    margin: 0px auto;
}
.left{
    width: 40%;
    height: 500px;
    float: left;
}
.class1{
    width: 100%;
    height:200px;
    float: left;
}
.feel{
    color: white;
    font-size: 20px;
    margin: 20px auto;
    font-size: xx-large;
    float: left;
}
.class2{
    width: 100%;
    height: 100px;
    float: left;
}
.lorem{
    color: white;
    font-size: 20px;    
}
.class3{
    width: 50%;
    height: 100px;
    float: left;
}
.call{
    color: white;
    font-size: 15px;
    }
.right{
    width: 45%;
    height: 400px;
    float: right;
    background-color: white;
    margin: 30px auto;
}
.col{
    width: 90%;
    height: 400px;
    margin: 0px auto;   
}
.name{
    width: 45%;
    height: 50px;
    background-color: skyblue;
    color: black;
    margin: 15px;
}